.container.container-categoria {
  .form {
    box-shadow: 2px 3px 15px var(--azul);
  }
  h2 {
    background: linear-gradient(to right, purple, var(--azul));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    color: white;
    font-size: 1.5rem;
  }
  input,
  select {
    border: 4px solid var(--azul);
  }
  .btn {
    border: 4px solid var(--azul);
    &:hover {
      background-color: var(--azul);
    }
  }

  .list {
    border-right: 4px solid var(--azul);

    h1 {
      background: linear-gradient(to right, purple, var(--azul));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .card {
      background-color: var(--azul);
      width: 33.33%;
      border-radius: 16px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      overflow: hidden;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
  }
}
