.container.container-equipe {
  .form {
    box-shadow: 2px 3px 15px var(--vermelho);
  }
  h2 {
    background: linear-gradient(to right, purple, var(--vermelho));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .inp,
  .sel {
    border: 4px solid var(--vermelho);
    &[type="color"] {
      min-height: 40px;
    }
  }
  .btn {
    border: 4px solid var(--vermelho);
    &:hover {
      background-color: var(--vermelho);
    }
  }

  .list {
    border-right: 4px solid var(--vermelho);

    h1 {
      background: linear-gradient(to right, purple, var(--vermelho));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .card {
      background-color: var(--vermelho);

      .c-nome {
        margin-top: 7px;
        margin-bottom: 10px;
        span {
          letter-spacing: 2px;
          font-size: 1.3rem;
          font-weight: bold;
        }
      }
    }
  }
}
