.container {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
}

h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.form-container {
  width: 45%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.form {
  flex: 0.95;
  color: white;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
  background: linear-gradient(
    320deg,
    rgb(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7),
    rgb(0, 0, 0, 0.9)
  );
}

.form-group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  label {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  label.invalid {
    color: red;
  }

  .inp,
  .sel {
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    &:hover {
      border-color: white;
    }
    &[type="number"] {
      appearance: textfield;
    }
    &::placeholder {
      color: var(--placeholder);
    }
  }
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  width: 100%;
  color: white;
  border-radius: 7px;
  padding: 7px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;
}

#btn-reset {
  flex: 1;
  border-color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}
