.list {
  width: 55%;
  height: 100%;
  padding-top: 6%;
  padding-bottom: 2%;
  position: relative;
  background: linear-gradient(
    320deg,
    rgb(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7),
    rgb(0, 0, 0, 0.9)
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-color: purple black;
  scrollbar-width: thin;
}

h1 {
  font-size: 2.2rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pilotos,
.equipes,
.categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 96%;
  border-top: 3px solid white;
  padding-top: 20px;
  border-radius: 5px;
  gap: 20px;
}

.card {
  color: white;
  height: fit-content;
  padding: 7px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .c-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}
