* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
  font-size: 1rem;
  font-weight: normal;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100vh;
  width: 100%;
}
