.container.container-piloto {
  .form {
    box-shadow: 2px 3px 15px var(--roxo);
  }
  h2 {
    background: linear-gradient(to right, purple, var(--roxo));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .inp,
  .sel {
    border: 4px solid var(--roxo);
  }
  #selFoto {
    cursor: pointer;
  }
  .btn {
    border: 4px solid var(--roxo);
    &:hover {
      background-color: var(--roxo);
    }
  }

  .list {
    border-right: 4px solid var(--roxo);

    h1 {
      background: linear-gradient(to right, purple, var(--roxo));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .card {
      position: relative;
      margin-block: 15px;
      color: white;
      padding: 7px;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: fit-content;
      flex: 1 1 1;
      background-color: rgb(30, 30, 30);

      &:hover .trash{
        display: block;
      }

      .c-nome {
        margin-bottom: 10px;
        span {
          width: 100%;
          font-size: 1.1rem;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }

      .c-infos {
        display: flex;
        justify-content: center;
        gap: 15%;

        #numero {
          font-size: 1.2rem;
          font-weight: bold;
          color: var(--roxo);
        }
      }

      .c-nacional {
        margin-top: 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        span {
          font-weight: bold;
          font-size: 1.1rem;
          border-bottom: 2px solid white;
        }
      }

      .c-equipe {
        display: flex;
        justify-content: center;
        span {
          font-size: 1.5rem;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }

      .c-head {
        img {
          border-radius: 10px;
        }
      }
      .trash {
        display: none;
        position: absolute;
        top: 4%;
        right: 4%;
        color: red;
        cursor: pointer;
        background-color: rgba(41, 41, 41, 0.686);
        padding: 5px;
        border-radius: 5px;
        text-align: center;
      }
    }
  }

  .loading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .preview {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    transition: all 0.3s ease;

    #imgPreview {
      border: 4px solid purple;
      background-color: none;
      border-radius: 10px;
      width: 125px;
      height: 125px;
      object-fit: cover;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
  }

  #selFoto {
    position: relative;
    transition: all 0.4s ease;
    z-index: 99;
    overflow: hidden;
  }

  #selFoto::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--roxo);
    transition: all 0.4s ease;
    z-index: -1;
  }

  #selFoto:hover::after {
    width: 100%;
  }
}
