.container.container-piloto {
  .form {
    box-shadow: 2px 3px 15px var(--roxo);
  }
  h2 {
    background: linear-gradient(to right, purple, var(--roxo));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  input,
  select {
    border: 4px solid var(--roxo);
  }
  .btn {
    border: 4px solid var(--roxo);
    &:hover {
      background-color: var(--roxo);
    }
  }

  .list {
    border-right: 4px solid var(--roxo);

    h1 {
      background: linear-gradient(to right, purple, var(--roxo));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .card {
      background-color: var(--roxo);
    }
  }
}
