:root {
  --bg-color: rgb(56, 56, 56);
  --placeholder: rgb(160, 160, 160);
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
}

h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 30px;
  background: linear-gradient(to right, purple, red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.form-container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin: auto;
  max-width: 90%;
  max-height: 80%;
  color: white;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(
    320deg,
    rgb(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7),
    rgb(0, 0, 0, 0.9)
  );
  box-shadow: 2px 3px 15px rgba(255, 0, 0, 0.315);
}

.form-group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  label {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  label.invalid {
    color: red;
  }

  input,
  select {
    border: 4px solid red;
    padding: 7px;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.3rem;
    width: 100%;
    height: 100%;
    &:hover {
      border-color: white;
    }
    &[type="number"] {
      appearance: textfield;
    }
    &::placeholder {
      color: var(--placeholder);
    }
  }
  select {
    color: var(--placeholder);
  }
}

.btn {
  width: 100%;
  color: white;
  border-radius: 7px;
  padding: 7px;
  border: 4px solid red;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;

  &:hover {
    background-color: red;
  }
}
